@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

root{
    --primary-color: #f8f9fa;
    --secondary-color: #189cf4;
    --secondary-color-1: #DBE2EF;



    --premium-shade: rgba(201, 126, 245, 0.32);
    --Luxury-shade:rgba(253, 209, 103, 0.24);
    --Normal-shade: rgba(176, 238, 223, 0.24);
}

body{
    overflow-y: scroll;
    background-color: #f8f9fa;
}

body::-webkit-scrollbar{
    display: none;
}

#nav{
    z-index: 10;
}

.navbar{
    background-color: #f8f9fa;
}

#toggler{
    color: #189cf4;
    background: white;
}

.navbar-brand,.nav-link{
    color: #595959;
}

.navbar-brand:hover,.nav-link:hover{
    color: #189cf4;
}

/*.navbar-brand:visited,.nav-link:visited{
    color: #595959;
}*/

#navItem{
    color: #189cf4;
}

.nav-link{
    margin-top: 2px;
    font-family: sans-serif;
    font-size: 12px;
}

#navBar{
    color: white;
    background-color: #f8f9fa;
}

#navbarSupportedContent{
    flex-grow: 0;
}

#btnLogin{
    background: #DBE2EF;
    color: #222831;
}

#btnLogin:hover{
    color: #DBE2EF;
    background: #189cf4;
    border: 2px solid #DBE2EF;
}

#toastBLueFrame{
    background: #4d96f3;
    color: #222831;
}

#toastYellowFrame{
    background-color: #f6c639;
    color: #222831;
}

#toastGreenFrame{
    background-color: #3acf87;
    color: #222831;
}
#toastRedFrame{
    background-color: #ff7663;
    color: #222831;
}

/*Home*/
.form-outline{
    position: relative;
}

#home{
    background: #f8f9fa;
    position: relative;
    height: 100vh;
}

#bgImg {
    height: 90vh;
    width: 90vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: blur(1px);
}

#cardBox{
    position: absolute;
    height: 220px;
    background-color: #f8f9fa;
    border-radius: 20px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 6vh;
}

#homeDt{
    height: 20vw;
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.mainText{
    position: absolute;
    width: max-content;
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
    color: #f8f9fa;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 50px;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
}

.subText{
    position: absolute;
    width: max-content;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    color: #f8f9fa;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#signIn{
    background: #DBE2EF;
    color: #222831;
    position: absolute;
    width: 120px;
    height: 50px;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
#signIn:hover{
    color: #f8f9fa;
    background-color: #189cf4;
}

.py-7 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

#signIn{
    font-family: sans-serif;
    /*border: 2px solid #222831;*/
}

/*Login and Register*/

.bg-blur-8{
    backdrop-filter: blur(8px);
}
.bg-blur-0{
    filter: blur(0);
    -webkit-filter: blur(0);
}

.over-card{
    z-index: 10;
}

#btnLogInM{
    background-color: #222831;
    color: white;
}

#registerForm>div>h4{
    font-weight: 300;
    font-family: sans-serif;
    font-size: 18px;
}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}


.bg-darkBlue {
    background-color: #189cf4;
}

#idBack,#idFront{
    background-color: #222831;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-darkBlue {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
@media (max-width: 991px) {
    .card-registration-2 .bg-darkBlue {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/*Cars*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.car-card{
    width: 250px;
    border-radius: 10px;
}

.card-img-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
span.text-muted{
    font-size: 12px;
}
small.text-muted{
    font-size: 8px;
}
h5.mb-0{
    font-size: 1rem;
}
small.ghj{
    font-size: 9px;
}
.mid{
    background: #ECEDF1;
}
h6.ml-1{
    font-size: 13px;
}
small.key{
    text-decoration: underline;
    font-size: 9px;
    cursor: pointer;
}
.btn-danger{
    color: #FFCBD2;
}
.btn-danger:focus{
    box-shadow: none;
}
small.justify-content-center{
    font-size: 9px;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
}

/*add car form*/
#carBack,#carFront,#carSide,#carIn {
    background-color: #222831;
}

#addCarsFrame{
    z-index: 100;
}

#addNewCar{
    cursor: pointer;
}

.para{
    font-family: 'Open Sans', sans-serif;
    margin-top: 5rem;
}


/**/

/*req*/

.checked:checked {
    background-color: #000000;
    border-color: #000000;
}

/*================================*/
/*================================*/
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-normal{
    background-color: #3498db;
}
.ribbon-luxury{
    background-color: #FFD700;
}
.ribbon-premium{
    background-color: #9b59b6;
}


.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.box-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-shadow-2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.box-shadow-3{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box-shadow-4{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.box-shadow-5{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.footer {
    border-top: 1px solid #efefef;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 4rem 0; }
.footer .site-logo a {
    font-size: 30px;
    color: #3e64ff;
    font-weight: 900; }
.footer .nav-links li {
    display: inline-block; }
.footer .nav-links li a {
    color: #777;
    padding: 10px; }
.footer .nav-links li a:hover {
    color: #3e64ff; }
.footer .nav-links.nav-left li:first-child {
    padding-left: 0; }
.footer .nav-links.nav-right li:last-child {
    padding-right: 0; }
.footer .copyright {
    border-top: 1px solid #efefef;
    padding-top: 50px;
    text-align: center;
    color: #777; }
.footer .subscribe .form-group {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative; }
.footer .subscribe .form-group input[type="email"] {
    height: 45px;
    border: none;
    background: #e6e6e6; }
.footer .subscribe .form-group input[type="email"]:focus, .footer-59391 .subscribe .form-group input[type="email"]:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
.footer .subscribe .form-group input[type="email"]::-webkit-input-placeholder {
    color: #b3b3b3;
    font-size: 14px; }
.footer .subscribe .form-group input[type="email"]::-moz-placeholder {
    color: #b3b3b3;
    font-size: 14px; }
.footer .subscribe .form-group input[type="email"]:-ms-input-placeholder {
    color: #b3b3b3;
    font-size: 14px; }
.footer .subscribe .form-group input[type="email"]:-moz-placeholder {
    color: #b3b3b3;
    font-size: 14px; }
.footer .subscribe .form-group button {
    position: absolute;
    border: none;
    background: none;
    font-size: 1.5rem;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: .5rem;
    right: .3rem;
    line-height: 0; }
.footer .subscribe .form-group button:focus, .footer .subscribe .form-group button:active {
    outline: none; }
.footer-59391 .social li {
    display: inline-block;
    position: relative; }
.footer .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #333333; }
.footer .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.footer .social li a:hover {
    color: #3e64ff; }

.list-unstyled>li>a{
    text-decoration: none;
}