@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

root{
    --primary-color: #222831;
    --secondary-color: #DBE2EF;

    --premium-shade: rgba(201, 126, 245, 0.32);
    --Luxury-shade:rgba(253, 209, 103, 0.24);
    --Normal-shade: rgba(176, 238, 223, 0.24);
}

body{
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

#nav{
    z-index: 10;
}

.navbar{
    background-color: #222831;
}

#toggler{
    color: white;
    background: white;
}

.navbar-brand,.nav-link{
    color: white;
}

.navbar-brand:hover,.nav-link:hover{
    color: white;
}

.navbar-brand:visited,.nav-link:visited{
    color: white;
}

#navItem{
    color: white;
}

.nav-link{
    margin-top: 2px;
    font-family: sans-serif;
    font-size: 12px;
}

#navBar{
    color: white;
    background-color: #222831;
}

#navbarSupportedContent{
    flex-grow: 0;
}

#btnLogin{
    background: #DBE2EF;
    color: #222831;
}

#btnLogin:hover{
    color: #DBE2EF;
    background: #222831;
    border: 2px solid #DBE2EF;
}

#loginToast{
    background: #3F72AF;
    color: white;
}

/*Home*/
.form-outline{
    position: relative;
}

#home{
    background: #DBE2EF;
    position: relative;
    height: 100vh;
}

#bgImg{
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

#homeDt{
    height: 20vw;
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#mainTitle{
    color: #222831;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: 600;
}

#mainText{
    color: #3F72AF;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.buttons{
    background: #DBE2EF;
    color: #222831;
    border: 2px solid #222831;
}

#signIn{
    background: #222831;
    color: #DBE2EF;
    border: 2px solid #222831;
}

.buttons:hover{
    color: #DBE2EF;
    background: #222831;
    border: 2px solid #DBE2EF;
}

/*Login and Register*/

.bg-blur-8{
    backdrop-filter: blur(8px);
}
.bg-blur-0{
    filter: blur(0);
    -webkit-filter: blur(0);
}

.over-card{
    z-index: 10;
}

#btnLogInM{
    background-color: #222831;
    color: white;
}

#registerForm>div>h4{
    font-weight: 300;
    font-family: sans-serif;
    font-size: 18px;
}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}


.bg-darkBlue {
    background-color: #222831;
}

#idBack,#idFront{
    background-color: #222831;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-darkBlue {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
@media (max-width: 991px) {
    .card-registration-2 .bg-darkBlue {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

/*Cars*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.car-card{
    width: 250px;
    border-radius: 10px;
}

.card-img-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
span.text-muted{
    font-size: 12px;
}
small.text-muted{
    font-size: 8px;
}
h5.mb-0{
    font-size: 1rem;
}
small.ghj{
    font-size: 9px;
}
.mid{
    background: #ECEDF1;
}
h6.ml-1{
    font-size: 13px;
}
small.key{
    text-decoration: underline;
    font-size: 9px;
    cursor: pointer;
}
.btn-danger{
    color: #FFCBD2;
}
.btn-danger:focus{
    box-shadow: none;
}
small.justify-content-center{
    font-size: 9px;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
}

/*add car form*/
#carBack,#carFront,#carSide,#carIn {
    background-color: #222831;
}

#addCarsFrame{
    z-index: 100;
}

#addNewCar{
    cursor: pointer;
}



/**/

/*req*/

.checked:checked {
    background-color: #000000;
    border-color: #000000;
}

/*================================*/
/*================================*/
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-normal{
    background-color: #3498db;
}
.ribbon-luxury{
    background-color: #FFD700;
}
.ribbon-premium{
    background-color: #9b59b6;
}


.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}
